<!DOCTYPE html>
<html lang="pl">
<body>
<h1>Wolsung</h1>
<article>
    <h2>{{title}}</h2>

    <section>
        <h3></h3>
        <p>Wstęp (do napisania)</p>
        Zawarte bazowe informacje o świecie Wolsunga, oraz prośba o wyrozumiałość ze względu na automatyzację
        generowania przygody.
        <!-- TODO Zawrzeć informacje o tym że przygoda jest generowana, oraz bardzo pokrótce czym jest Wolsung -->
        <p></p>
    </section>

    {{#each acts}}
        {{> act }}
    {{/each}}
</article>
</body>
</html>
